﻿
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-edit"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Cliente">Cliente</a></li>
                    <li><a href="#">Produto</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>